name: Test
on: 
  workflow_dispatch:
  push:
    branches:
    - releases/v5.x
    - main
  pull_request:

permissions: {}

jobs:
  version-matrix:
    strategy:
      fail-fast: false
      matrix:
        go-version: [1.23.x, 1.24.x, 1.25.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    
    permissions:
      contents: read
      
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v5

    - name: Install Go
      uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}   
  
    - name: Configure known hosts
      continue-on-error: true
      if: matrix.platform != 'ubuntu-latest'
      run: |
        mkdir -p  ~/.ssh
        ssh-keyscan -H github.com > ~/.ssh/known_hosts

    - name: Set Git config
      run: |
        git config --global user.email "gha@example.com"
        git config --global user.name "GitHub Actions"

    - name: Test
      run: make test-coverage

    - name: Test Examples
      run: go test -timeout 45s -v -run '^TestExamples$' github.com/go-git/go-git/v6/_examples --examples
